streamlit==1.14.0
streamlit-card==0.0.4
pandas==1.3.5
yfinance==0.2.3
DateTime==4.5
plotly==5.10.0
numpy==1.21.6
ta==0.10.2
numerize==0.12
streamlit-plotly-events==0.0.6
streamlit-extras==0.2.5
streamlit-aggrid==0.3.3
streamlit-toggle-switch==1.0.2
gsheetsdb==0.1.13.1
s3fs==2022.11.0
